main{
    display: block;
}
h2{
    font-size: 3em;
    margin-bottom: 30px;
}
.opinion{
    margin: 15px;
    max-width: max-content;
}
.opinion h3{
    font-size: 2em;
    align-content: center;
}
.opinion p{
    font-size: 1.2em;
    line-height: 1.6;
    margin: 7px;
}
