/* ======== INDEX LAYOUT ======== */
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

/* ======== CONTENEDOR TEXTO ======== */
.texto {
    width: 60%;
    max-width: 900px;
}

.texto h2 {
    font-size: 3em;
    color: #6495ED;
    margin-bottom: 20px;
}

.texto p {
    color: #6495ED;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    .texto h2 {
        font-size: 2.4em;
    }

    .texto p {
        font-size: 1.1em;
    }
}