    /* ======== ESTILO CONTACTO ======== */
    html, body {
    min-height: 100%;
    overflow-x: hidden; /* ✅ evita scroll horizontal */
}

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        gap: 10px; 
        text-align: center;
        padding: 60px 20px;
    }

    h2 {
        margin-top: 10px;
        font-size: 2em;
        color: #6495ED;
        margin-bottom: 5px; 
    }


    /* FORM */
    form{
        margin-top: 235px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 80%;
        max-width: 600px;
        background: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }


    label {
        font-size: 1.1em;
    }

    input, textarea {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        font-size: 1em;
    }

    textarea {
        height: 110px;
        resize: none;
    }

    button {
        background-color: #113E92;
        color: white;
        padding: 12px;
        font-size: 1.2em;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s;
    }

    button:hover {
        background-color: #6495ED;
    }

    /* ✅ RESPONSIVE */
    @media (max-width: 800px) {
        form {
            width: 90%;
        }
    }
    /* ✅ Bordes de validación */
    input.error, textarea.error {
        border: 2px solid red;
    }
    
    input.ok, textarea.ok {
        border: 2px solid #21ba45;
    }
    
    /* ✅ Mensajes de estado */
    #estado {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .success-msg {
        color: #0a8a20;
    }
    
    .error-msg {
        color: #d20c0c;
    }
    
    /* ✅ Contador */
    #contador {
        align-self: flex-end;
        font-size: 0.9em;
        color: #666;
    }
